<div class="row">
    <div class="col-8">
        <div class="form-group">
            <label for="filtroNombre">Nombre Parámetro</label>
            <input type="text" class="form-control" id="filtroNombre" placeholder="Nombre"
                [(ngModel)]="filtrosBusqueda.nombre">
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="exampleInputPassword1">Estado Activo</label>
            <select name="filtroEstado" id="filtroEstado" class="form-control" [value]="" [(ngModel)]="filtrosBusqueda.estado">
                <option value=null>-- Seleccione --</option>
                <option *ngFor="let estado of estadosParametro" [value]="estado.value" [selected]="estado.selected">
                    {{estado.text}}</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <button type="button" class="btn btn-warning float-left" (click)="crearParametro()">Nuevo</button>
        <div class="btn-group float-right" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary" (click)="reiniciarControles()">Reiniciar filtros</button>
            <button type="button" class="btn btn-primary" (click)="buscarParametros()">Buscar</button>
        </div>
    </div>
</div>